QMenuBar:item:selected {  
    background: rgba(70, 70, 70, 255); color:white;
    }

QMenu:item:selected  {
    background: rgba(70, 70, 70, 255);
    color: white;
    }

QToolButton:hover {
    background-color: rgba(150, 150, 150, 0);
    }

QToolBar {
    border-bottom: 1px solid gray;
    background: transparent;
    padding-left:0px;
    padding-right:0px;
    padding-top:0px;
    padding-bottom:0px;
    margin-left: 0px;
    margin-right: 0px;
    }
